---
layout: page
title: About
subtitle: 听说，你要请我吃火锅？
permalink: /about/
---

<h2>About this Blog</h2>
<p>探寻世界的美丽，生命的奇迹，技术的性感。还有，好吃的火锅！</p>
	<p>
	<ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
	</ul>
	</p>

<h2>About me</h2>
<p>程序猿中我不是弹吉他最好的那一个，吉他手中我不是吃火锅最辣的那一个。emmmm...说好的火锅呢？</p>

<h2>Contact me</h2>
<p>只吃火锅好不好？</p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
